html {
    min-height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.5;
    font-size: 18px;
}

#pages {
	max-width: 500px;
	margin: 0 auto;
}

.page {
	background: #cfcfcf;
}

